---
import "/src/styles/global.css";
---

<header class="text-white">
  <div class="container mx-auto flex justify-between items-center py-4">
    <!-- Venstre side -->
    <div class="flex items-center space-x-4">
      <img
        src="/icons/logo.svg"
        alt="Sorte Øje Kaffebar"
        class="min-w-36 min-h-24 max-w-none"
      />
    </div>

    <!-- Højre side (navigation) -->
    <nav>
      <ul class="flex space-x-6">
        <li><a href="/" class="hover:underline">Menu</a></li>
        <li><a href="/about" class="hover:underline">Om os</a></li>
        <li><a href="/events" class="hover:underline">Events</a></li>
        <li><a href="/contact" class="hover:underline">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="flex justify-center md:justify-end">
  <img src="/icons/headerstreg2.svg" alt="streg" />
</div>
